<div class="logout_main_box">
  <div class="box">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYcv-0ewt7HOXii0rH2Z7Ct6dBzLiL6q7ErolktZQmTVFB77W3" class="logo" >
    <h1>Signup Up Here</h1>
    <form>
      <p>Username</p>
      <input type="text" name="" value="" placeholder="Enter the Username" id="user_name">
      <p>User Email</p>
      <input type="text" name="" value="" placeholder="Enter the User Email" id="user_email">
      <p>Password</p>
      <input type="password" name="" value="" placeholder="Enter your password" id="user_password">
      <input type="submit" name="" value="Submit">
      <a href="signin">Sign In</a><br>
      <a href="forgotPassword">Forget Password</a>
    </form>
  </div>
</div>