<div class="logout_main_box">
  <div class="box">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYcv-0ewt7HOXii0rH2Z7Ct6dBzLiL6q7ErolktZQmTVFB77W3" class="logo" >
    <h1>Forgot Password</h1>
    <form>
      <p>User Email</p>
      <input type="text" name="" value="" placeholder="Enter the User Email" id="user_email">
      <input type="submit" name="" value="Submit">
      <a href="signin">Sign In</a><br>
      <a href="signup">Don't have Account</a>
    </form>
  </div>
</div>